.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  display: flex;
}

.menu-label {
  padding-left: 6px;
}

.selected {
  color: #673ab7;
}

.logo {
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
}