<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="logo"><img src="assets/img/txt1.png" width="112" /></mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of itensMenu"
        [routerLink]="item.link"
        routerLinkActive="selected"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="menu-label">{{ item.label }}</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="menu-label">Sair</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="brand"><img src="assets/img/quad1.png" width="48" /></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
