<div class="form-wrapper" *ngIf="!loading && !error; else loadingOrError">
    <form [formGroup]="tecnicoForm" (ngSubmit)="onSubmit()">
        <h2>Editar tecnico</h2>
        <section formArrayName="perfils" class="section">
            <mat-checkbox class="margin" color="primary" formControlName="0">Admin</mat-checkbox>
            <mat-checkbox class="margin" color="primary" formControlName="1">Cliente</mat-checkbox>
            <mat-checkbox class="margin" color="primary" formControlName="2">Tecnico</mat-checkbox>
        </section>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome do tecnico" formControlName="nome" required />
            <mat-error *ngIf="tecnicoForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput mask="000.000.000-00" placeholder="CPF do tecnico" [dropSpecialCharacters]="false"
                formControlName="cpf" required />
            <mat-error *ngIf="tecnicoForm.get('cpf')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="tecnicoForm.get('cpf')?.errors?.['mask']">Formato de CPF inválido</mat-error>
            <mat-icon matPrefix>credit_card</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email do tecnico" formControlName="email" type="email" required />
            <mat-error *ngIf="tecnicoForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha do tecnico" formControlName="senha" type="password" />
            <mat-error *ngIf="tecnicoForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="tecnicoForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres</mat-error>
            <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>
        <span class="mat-error" *ngIf="tecnicoForm.get('perfils')?.errors?.['sometrue']">
            Marque pelo menos uma função para o user
        </span>
        <button mat-raised-button color="primary" [disabled]="tecnicoForm.invalid">
            Salvar
        </button>
    </form>
</div>

<ng-template #loadingOrError>
    <app-loader *ngIf="loading" label="Carregando registro de tecnico..."></app-loader>
    <p *ngIf="error">{{ errorMsg }}</p>
</ng-template>