.chip {
    padding: 2px 16px;
    background-color: gainsboro;
    border-radius: 16px;
}

.baixa {
    background-color: #4caf50;
    color: white;
}

.media {
    background-color: #ffeb3b;
    color: black;
}

.alta {
    background-color: #f44336;
    color: white;
}