<img src="assets/img/ext4.png" alt="" />
<div class="home-container">
  <h1>Bem vindo(a) ao Helpr!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint maiores sit
    fuga nihil perferendis est eligendi officia, numquam modi tempora atque at
    optio, itaque eveniet autem qui minima maxime culpa sequi cum a, neque quia
    reprehenderit. Animi, ducimus qui. A, sunt, quibusdam quisquam, quod
    corporis debitis autem magni beatae ab odio enim minus? Impedit vero
    laboriosam exercitationem, qui quos nihil. Quos quasi, quis ducimus
    dignissimos quae vitae porro inventore earum nobis accusantium voluptatum
    maiores nihil quibusdam adipisci rem illum a necessitatibus architecto.
    Accusantium exercitationem, velit eius, possimus quaerat commodi non aliquid
    iure assumenda corrupti quis voluptate, provident laborum quidem repellat
    consequuntur quae suscipit id dolor minus molestias. Voluptatem, debitis,
    impedit harum ab laborum ullam expedita quae tempore provident laboriosam
    quis natus, nesciunt voluptatum velit nobis officiis iste quas. Dolor
    nostrum vitae reiciendis minus animi, explicabo quis, earum ea est iste
    dolorem dicta velit a, voluptas unde labore praesentium amet neque laborum.
    Quis quibusdam a delectus voluptate odio in ipsa rerum dicta autem porro
    mollitia sequi nisi amet iste ut enim nulla velit officia, at neque nobis!
    Perspiciatis, qui dicta vitae laudantium iusto doloremque adipisci rerum
    ipsa amet dolorem animi deserunt alias ex ea sapiente enim voluptate
    architecto atque. Voluptatum, error.
  </p>
</div>
